%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :facebook_token, :as => :hidden
  = f.input :facebook_token_expires, :as => :hidden
  = f.submit 'Sign up'
= render "devise/shared/links"
